log/*
temp/*
vendor/*
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
node_modules/
nbproject/
.vscode
WWW/images/company/*
WWW/images/article/*
WWW/images/company-img/*
WWW/images/course/*
WWW/images/lector/*
WWW/images/partner/*
WWW/images/personality/*
WWW/UserFiles
WWW/storage/*
