{* Latte template *}

{block content}
<div class="page-header">
    <h1>Administrace uzivatelu <a n:href="User:new" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h1>
</div>
{control userGrid}

