Dobrý den,<br>
{$question->name} (<a href="mailto:{$question->email}">{$question->email}</a>) Vám zasílá dotaz na kurz <a n:href="//Course:course $course->seokey">{$course->name}</a>, který se nacházi na portále <a n:href="//Homepage:default">www.evzdelavani.cz</a>,
s následujícím textem: <br><br>
<i>{$question->question}</i><br><br>
S pozdravem a přáním hezkého dne <br>
TEAM evzdelavani.cz<br>
<a n:href="//Homepage:default">www.evzdelavani.cz</a><br>
email: <a href="mailto:{$mailto}">{$mailto}</a>
