Dobrý den,<br>
Vaše heslo na <a n:href="//Sign:in">www.evzdelavani.cz</a> bylo změněno.<br><br>
E-mail: {$email}<br>
Heslo: {$pass}<br>
S pozdravem a přáním hezkého dne <br><br>
TEAM evzdelavani.cz<br>
<a n:href="//Homepage:default">www.evzdelavani.cz</a><br>
email: <a href="mailto:{$mailto}">{$mailto}</a>