{extends '../@layout.latte'}

{block content}
<a n:href="Homepage:default">
    <img src="/images/sub-logo-3.jpg" alt="Evzdelavani.cz">
</a>

{include breadcrumbLayout}
<div class="container-fluid">
    {include subContent}
</div>
{/block}



